# Dependencies
node_modules/

# Environment variables
.env
*.log
npm-debug.log
.DS_Store
Thumbs.db
Backend/node_modules/@coinbase/agentkit
Backend/node_modules/@pinata/sdk/LICENSE
Backend/node_modules/asynckit/LICENSE
Backend/node_modules/axios/LICENSE
Backend/node_modules/base64-js/LICENSE
Backend/node_modules/bech32/LICENSE
Backend/node_modules/buffer/LICENSE
Backend/node_modules/cids/LICENSE
Backend/node_modules/cids/node_modules/multibase/LICENSE
Backend/node_modules/class-is/LICENSE
Backend/node_modules/combined-stream/License
Backend/node_modules/delayed-stream/License
Backend/node_modules/delayed-stream/Makefile
Backend/node_modules/follow-redirects/LICENSE
Backend/node_modules/form-data/License
Backend/node_modules/ieee754/LICENSE
Backend/node_modules/ip-regex/license
Backend/node_modules/is-ip/license
Backend/node_modules/is-ipfs/LICENSE
Backend/node_modules/is-ipfs/node_modules/multibase/LICENSE
Backend/node_modules/minimalistic-assert/LICENSE
Backend/node_modules/multiaddr/LICENSE
Backend/node_modules/multiaddr/node_modules/cids/LICENSE
Backend/node_modules/multiaddr/node_modules/cids/node_modules/multibase/LICENSE
Backend/node_modules/multiaddr/node_modules/multibase/LICENSE
Backend/node_modules/multiaddr/node_modules/multihashes/LICENSE
Backend/node_modules/multiaddr/node_modules/multihashes/node_modules/multibase/LICENSE
Backend/node_modules/multicodec/LICENSE
Backend/node_modules/multihashes/LICENSE
Backend/node_modules/multihashes/node_modules/multibase/LICENSE
Backend/node_modules/path/LICENSE
Backend/node_modules/process/LICENSE
Backend/node_modules/util/LICENSE
Backend/node_modules/util/node_modules/inherits/LICENSE
Backend/node_modules/ws/LICENSE
